[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphene = "*"
minio = "*"
docker = "*"
Flask = "*"
Flask-Script = "*"
Flask-MongoAlchemy = "*"
Flask-GraphQL = "*"

[requires]
python_version = "3.6"
